
/*---------------------------------------------------------------------*/
/* NAVIGATION
/*---------------------------------------------------------------------*/

.navbar.navbar-fixed-top {
  margin: 0;
  border: 0;
  height: 66px;
  background-color: #171717;
  border-bottom: 1px solid #282428;
  z-index: 1030 !important;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top {
    /* If I want to add small footer use fixed */
    /*position: fixed;*/
    position: relative;
  }
}

.navbar.navbar-fixed-top .navbar-container {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 65px;
  line-height: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.navbar-fixed-top .navbar-nav > li > a {
  padding-top: 0px;
  height: 40px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 65px;
    line-height: 65px;
  }
}

.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  background-color: #171717;
  color: #da491c;
}

.navbar.navbar-fixed-top .navbar-nav > li > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
  background-color: #171717;
  color: #da491c;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown > a:hover {
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a:focus {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
  min-width: 180px;
  padding: 10px 0px;
  background-color: #171717;
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    padding-top: 0px;
  }
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a {
  height: 35px;
  line-height: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar.navbar-fixed-top .navbar-nav .caret {
  margin-top: -4px;
}

.navbar.navbar-fixed-top .navbar-toggle {
  border-radius: 3px;
  margin-top: 18px;
}

.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar.navbar-fixed-top .navbar-collapse {
  border: 0;
  max-height: 500px; /* default 340px */
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-collapse {
    border-bottom: 1px solid #282428;
  }
}


/*---------------------------------------------------------------------*/
/* NAVIGATION - CENTER MENU
/*---------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav {
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}
