@import 'nav';
@import 'furnitures';
@import 'footer';
@import "font-awesome-sprockets";
@import "font-awesome";

 *,
 *:after,
 *:before, {
   box-sizing: border-box;
 }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}



#page-wrapper {
  width: auto;
  margin: 0;
}
//
// .container {
//   @include outer-container;
// }
