
/*---------------------------------------------------------------------*/
/* NAVIGATION
/*---------------------------------------------------------------------*/
#navigation {
  &__bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 10;
    height: 70px;
  }
}

.navbar {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }


  padding: 0 !important;
}

#navitem {
  &__home, &__chair, &__table, &__desk {
    float: left;
    display: inline;
    line-height: 70px;
    text-align: center;
  }
  &__home {
    width: 9%;
    cursor: pointer;
    padding-right: 15px;
      img {
        width: 100%;
      }
  }

  &__chair {

  }
  &__table {

  }
  &__desk {

  }
}
