
/*---------------------------------------------------------------------*/
/* NAVIGATION
/*---------------------------------------------------------------------*/
#navigation {
  &__bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ccc;
    z-index: 10;
  }
}


.nav {
  &__home {
    width: 9%;
    padding: 10px;
    cursor: pointer;
  }
  &__home img {
    width: 100%;
  }
}