  <!-- INDEX IMAGE -->
<div id="page-wrapper">

    <div class="navbar">

    </div>

    <div id="banner-area-wrapper">
        <div id="banner-area">
            <div class="homepage-dynamic-image" style="">
              <%= image_tag('Valex_homebg.jpg') %>
                <div id="banner-title">
                  <h1 id="page-title" class="page-title">Valex Industries</h1>
                </div>
              <div class="homepage-overlay"></div>
            </div>
        </div>
    </div>

  <!-- /// BEGINNING OF PRODUCT LIST -->
    <div id="products-container">
        <div class="page-wrapper-text">
            <div class="wrapper-text">
              <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h4>
            </div>
        </div>
        <!-- /// SIMPLE HORIZONTAL AS SEPARATION -->
        <div class="horizontal-break">
          <hr>
        </div>

      <!-- /// PRODUCT -->
      <div id="product" class="vx-col-block ">
          <% @furnitures.each do |furniture| %>
            <div class="product-float">

              <div class="vls-block">
                  <div class="product-title">
                      <h2><%= furniture.title %></h2>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-pic">
                      <%= image_tag(furniture.img) %>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-description">
                      <p>
                          <%= furniture.description %>
                      </p>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-more">

                  </div>
              </div>
            </div>
          <% end %>
      </div>
      <!-- /// END OF PRODUCT -->

    </div>
  <!-- /// END OF PRODUCT LIST -->


    <!-- /// SIMPLE HORIZONTAL AS SEPARATION -->
    <div class="horizontal-break">
        <hr>
    </div>

</div>
  <!-- END OF PAGE WRAPPER -->
